/vendor
/node_modules
/public/storage
/.env
/.env.backup
/.env.production

# Abai seluruh jenis file installer & kompresi di folder manapun
*.apk
*.aab
*.zip
*.tar.gz
*.rar

# Abai folder khusus APK & build
/apk/
/pabrik_apk/
